
{% extends 'blogbase.html' %}
{% load static %}


  <!-- Navigation -->
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>US</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="\">Home</a>
      </li>
      <li class="breadcrumb-item active">latest tech news</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img style="margin-bottom: -100px; padding-top: 90px;" class="img-fluid rounded mb-4" src="{% static 'sitetemplate/images/smoke.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Franklymade Tech</h2>
        <p>My name is Franklin O. i own this site. It has been a wonderful journey so far into the world of technology. A journey that began more than a year ago, I am so excited having learnt so mush within this period of time </p>
        <p>I developed this site as a means of documenting all that i have learnt within the couse of this journey so as also help those who may be coming new into technology to find a relatable place to begin, providing them with the core fundermentals.</p>
        <p>Its has not been an easy journey i must confess but i have not regreted any single time or effort that i have put into this journey and i am super excited to be the owner of this site. </p>
        <p>If you are a beginer looking for what programming language to begin with then look no further because python is here to help you learn fast, python is a great programming tool with mush easier coding syntax than any other programming tool out there  </p>
        <p> Do you like how this site is sructured?, it might interest you to know that this site was developed with python and django which takes care of the logic control and dynamic rendring of pages, with <a href="http://getboostrap.com">boostrap</a> which takes care of the frontend. </p>
        <p> To see some of my most recent projects you can checkout my <a href="http://franklymade.tech/franklin">portfolio</a>. Keep Going And Never Give up.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <!-- <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>
    /.row -->

    <!-- Our Customers -->
    <h2>featured blogs</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}

  